@model IEnumerable<DataFirstApproach.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1 style="align-self:center">Tietoevry</h1>

<p>
    <a asp-action="Create" style="text-decoration:none;"><i class="fa-sharp fa-solid fa-file-circle-plus"></i>&nbsp;Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.EmpId"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.EmpId"><i class="fa-sharp fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.EmpId"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
